<table class="csvtotable__table{{#if _retainDesktopViewOnMobile}} retain-desktop-view{{else}} is-stacked{{/if}}{{#equals _mobileColumns 1}} is-one-column{{/equals}}{{#equals _mobileColumns 2}} is-two-columns{{/equals}}{{#if _hasRowHeaders}} has-row-headers{{/if}}" data-col-count="{{colCount}}">

  {{#if caption}}
  <caption class="aria-label">
    {{{caption}}}
  </caption>
  {{/if}}

  <thead>
    <tr class="csvtotable__head-row">
      {{#each columns as |cell colIndex|}}
      <th class="csvtotable__head-cell is-th {{lookup2d @root/styles 0 colIndex}}" scope="col" colspan="{{lookup2d @root/colspans 0 colIndex}}" rowspan="{{lookup2d @root/rowspans 0 colIndex}}">
        {{{cell}}}
      </th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each rows as |columns rowIndex|}}
    {{#unless @first}}
    {{#unless @root/_retainDesktopViewOnMobile}}
    <tr class="csvtotable__body-row is-header">
      {{#each @root/columns as |cell colIndex|}}
      <th class="csvtotable__body-cell is-th {{lookup2d @root/styles rowIndex colIndex}}" scope="col" colspan="{{lookup2d @root/colspans rowIndex colIndex}}" rowspan="{{lookup2d @root/rowspans rowIndex colIndex}}">
        {{{cell}}}
      </th>
      {{/each}}
    </tr>
    {{/unless}}

    <tr class="csvtotable__body-row is-body">
      {{#each columns as |cell colIndex|}}
      {{#if @root/_hasRowHeaders}}
        {{#if @first}}
        <th class="csvtotable__body-cell is-th {{lookup2d @root/styles rowIndex colIndex}}" scope="row" colspan="{{lookup2d @root/colspans rowIndex colIndex}}" rowspan="{{lookup2d @root/rowspans rowIndex colIndex}}">
          {{#unless @root/_retainDesktopViewOnMobile}}
          {{#if (lookup @root/columns colIndex)}}
          <span class="csvtotable__body-cell-span">
            {{{lookup @root/columns colIndex}}}
          </span>
          {{/if}}
          {{/unless}}
          {{{cell}}}
        </th>
        {{else}}
        <td class="csvtotable__body-cell is-td {{lookup2d @root/styles rowIndex colIndex}}" colspan="{{lookup2d @root/colspans rowIndex colIndex}}" rowspan="{{lookup2d @root/rowspans rowIndex colIndex}}">
          {{#unless @root/_retainDesktopViewOnMobile}}
          {{#if (lookup @root/columns colIndex)}}
          <span class="csvtotable__body-cell-span">
            {{{lookup @root/columns colIndex}}}
          </span>
          {{/if}}
          {{/unless}}
          {{{cell}}}
        </td>
        {{/if}}
        {{else}}
        <td class="csvtotable__body-cell is-td {{lookup2d @root/styles rowIndex colIndex}}" colspan="{{lookup2d @root/colspans rowIndex colIndex}}" rowspan="{{lookup2d @root/rowspans rowIndex colIndex}}">
          {{#unless @root/_retainDesktopViewOnMobile}}
          {{#if (lookup @root/columns colIndex)}}
          <span class="csvtotable__body-cell-span">
            {{{lookup @root/columns colIndex}}}
          </span>
          {{/if}}
          {{/unless}}
          {{{cell}}}
        </td>
      {{/if}}
      {{/each}}
    </tr>
  {{/unless}}
  {{/each}}
  </tbody>

</table>
